<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
  <title>Layout-04</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="../../common/css/animations.css">
  <link rel="stylesheet" href="../../common/css/owl-carousel/owl.carousel.css">
  <link rel="stylesheet" href="../../common/css/owl-carousel/owl.theme.default.css">
  <link rel="stylesheet" href="../../common/css/owl-carousel/owl.video.css">
  <script src="../../common/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
  <style type="text/css">
  </style>
</head>
<body>
  <!--[if lt IE 7]>
  <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
  
  <!-- HEADER-02 NAVIGATION BAR -->
  
  <div class="header-02">
    <div class="navbar navbar-simple navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><img src="../../common/images/logo.png" alt="nevermore"></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right lava">
            <li class="active">
              <a href="#" data-scroll-nav="0">Home</a>
            </li>
            <li>
              <a href="#" data-scroll-nav="1">Features</a>
            </li>
            <li>
              <a href="#" data-scroll-nav="2">Showcase</a>
            </li>
            <li>
              <a href="#" data-scroll-nav="3">Prices</a>
            </li>
            <li>
              <a href="#" data-scroll-nav="4">Contact</a>
            </li>
            
          </ul>
          </div><!--/.navbar-collapse -->
        </div>
      </div>
    </div>
    <!-- END HEADER-02 NAVIGATION BAR -->
    
    <!-- HEADER-02 CONTENT -->
    <div class="header-02-sub">
      <!-- SLIDER STARTS HERE -->
      <div id="header-2-carousel" class="owl-carousel owl-theme text-center">
        
        <div class="slide-left item ratio" data-plugin-options='{"distance":100,"speed":1000}'>
          <div class="overlay"></div>
          <img src="../../common/images/header-02-slide1.jpg" alt="The Last of us">
          
          <!-- CAPTION STARTS HERE -->
          <div class="caption">
            <h1>Meet <strong>Nevermore!</strong></h1>
            <h2>/creative one page generator.</h2>
            <p class="lead">
            
            The ideal puzzle based tool for creating websites within minutes
            </p>
            
          </div>
          <!-- CAPTION STARTS HERE -->
        </div>
        <div class="item ratio">
          <div class="overlay"></div>
          <img src="../../common/images/header-02-slide2.jpg" alt="nevermore">
          
          <!-- CAPTION STARTS HERE -->
          <div class="caption">
            
            <h1><strong>PUZZLE</strong> BLOCKS</h1>
            <p class="lead">
            
            You can easily combine  ready made blocks in order to create your website. It's straightforward!
            </p>
            
          </div>
          <!-- CAPTION ENDS HERE -->
        </div>
        <div class="item ratio">
          <div class="overlay"></div>
          <img src="../../common/images/header-02-slide3.jpg" alt="nevermore">
          
          <!-- CAPTION STARTS HERE -->
          <div class="caption">
            
            <h1><strong>MULTI PURPOSE</strong> Components</h1>
            <p class="lead">
            There are a lot of different multi useful compononents like headers, contents, projects, contacts, footers, which you can combine in variety of ways.
            </p>
            
          </div>
          <!-- CAPTION ENDS HERE -->
        </div>
        
      </div>
      <!-- SLIDER ENDS HERE -->
      <!-- SCROLL DOWN BUTTON-->
      <div class="scrollDown">
        <a href="#"><img alt="nevermore" src="../../common/images/scrollDown.png"></a>
      </div>
    </div>
    
    <!-- END HEADER-02 CONTENT -->
    
    
    <!-- CONTENT-03 -->
    
    <section class="content-03 spacing" data-scroll-index="1">
      
      <div class="container">
        <div class="row feature text-center">
          
          <!-- DESCRIPTION-->
          <div class="slide-left col-sm-6 padding" data-plugin-options='{"distance":200,"speed":1000}'>
            <span class="slide-left icon" data-plugin-options='{"distance":400,"speed":4000}'><img src="../../common/images/laptop-icon.png" alt="nevermore"></span>
            <h2>140+ POSSIBLE COMBINATIONS</h2>
            <p>At this point you have 108 possible combinations to create a unique website, anyway,  with each component we add every month your posibilities will increase.</p>
          </div>
          <!--END  DESCRIPTION-->
          
          <!-- DESCRIPTION-->
          <div class="slide-right col-sm-6 padding" data-plugin-options='{"distance":200,"speed":1000}'>
            
            <span class="slide-left icon" data-plugin-options='{"distance":400,"speed":4000}'><img src="../../common/images/thunder-icon.png" alt="nevermore"></span>
            <h2>FUTURE UPDATES</h2>
            <p>We plan to release at least one  new component per month,  so in this way more and more combinations will be available for you.</p>
          </div>
          <!-- END DESCRIPTION-->
        </div>
        <div class="row feature text-center">
          
          <!-- DESCRIPTION-->
          <div class="slide-left col-sm-6 padding" data-plugin-options='{"distance":200,"speed":1000"}'>
            <span class="slide-left icon" data-plugin-options='{"distance":400,"speed":3000}'><img src="../../common/images/eye-icon.png" alt="nevermore"></span>
            <h2>GREAT VISUAL ASSETS</h2>
            <p>Inside the downloaded pack you will get great visual assets like icons and images free to use in your personal projects.</p>
          </div>
          <!-- END DESCRIPTION-->
          
          <!-- DESCRIPTION-->
          <div class="slide-right col-sm-6 padding" data-plugin-options='{"distance":200,"speed":1000}'>
            <span class="slide-left icon" data-plugin-options='{"distance":400,"speed":3000}'><img src="../../common/images/happy-icon.png" alt="nevermore"></span>
            <h2>SAVE MONEY</h2>
            <p>Instead paying big money to a freelancer you can easily do it by yourself.
            All you have to do is drag and drop!</p>
          </div>
          <!-- END DESCRIPTION-->
        </div>
      </div>
    </section>
    <!-- END CONTENT-03 -->
    <!-- PROJECTS 01 -->
    <section class="projects-01 spacing" data-scroll-index="2">
      
      <div class="container-fluid">
        <div class="slide-left row" data-plugin-options='{"distance":400,"speed":1000}'>
          <div class="col-sm-8 no-padding-left">
            
            <!-- START SLIDER -->
            <div id="portfolio-1" class="owl-carousel owl-theme">
              
              <div class="item"><img src="../../common/images/projects-01-1.jpg" alt="image"></div>
              <div class="item"><img src="../../common/images/projects-01-5.jpg" alt="image"></div>
              
            </div>
            <!-- END SLIDER -->
          </div>
          
          <div class="col-sm-4">
            
            <!-- CONTENT -->
            
            <div class="content">
              <h2>Technologies used:</h2>
              <div class="small-border"></div>
              <p>HTML5, CSS3, LESS, JAVASCRIPT.</p>
              
              <p>Creating a website is quick and easy because each component is coded for web.</p>
              <p>We've prepared the ui-kit so you have the components one by one (headers,contents,projects,footers).
              </p>
            </div>
            <!-- END CONTENT -->
          </div>
        </div>
        
        <div class="slide-left row" data-plugin-options='{"distance":400,"speed":1000}'>
          <div class="col-sm-4 hidden-xs">
            
            <!-- CONTENT -->
            <div class="content">
              <h2>PSD files available</h2>
              <div class="small-border"></div>
              <p><strong>Headers, Contents, Projects, Footers ...</strong></p>
              <p>We offer you all the possible combinations between the blocks in psd files. We've prepared the UI-kit so you have  the components one by one
              </p>
            </div>
            <!-- END CONTENT -->
          </div>
          <div class="col-sm-8 no-padding-left no-padding-right">
            
            <!-- START SLIDER -->
            <div id="portfolio-2" class="owl-carousel owl-theme">
              
              <div class="item"><img src="../../common/images/projects-01-2.jpg" alt="nevermore"></div>
              <div class="item"><img src="../../common/images/projects-01-6.jpg" alt="nevermore"></div>
       
              
            </div>
            <!-- END SLIDER -->
          </div>
          <div class="col-sm-4 visible-xs">
            
            <!--  CONTENT -->
            <div class="content">
              <h2>Modular Layout</h2>
              <div class="small-border"></div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi ad, fugiat nisi dolorum odio. Illum magnam ab similique quidem minima incidunt cupiditate. Autem veniam delectus nisi tenetur dolores pariatur voluptatum!</p>
            </div>
            <!-- END CONTENT -->
          </div>
          
        </div>
        <div class="row">
          <div class="slide-left col-sm-4 no-padding-left no-padding-right" data-plugin-options='{"distance":400,"speed":2000}'>
            
            <!-- IMAGE SECTION -->
            <div class="item"><img src="../../common/images/projects-01-3.jpg" alt="nevermore"></div>
            <!-- END IMAGE SECTION -->
          </div>
          <div class="slide-left col-sm-4 no-padding-left no-padding-right" data-plugin-options='{"distance":600,"speed":2000}'>
            
            <!-- CONTENT -->
            <div class="content">
              <h2>Multiple designs</h2>
              <div class="small-border"></div>
              <p>At this point you have 108 availabe combinations to create a unique website, anyway, with each component we add every month  your posibilities will increase. </p>
              <p>It doesn't matter if you're a designer or a developer, the UI Kit is built for both of you. We are offering the PSD files for each block and the coded blocks aswell.</p>
            </div>
            <!-- END CONTENT -->
          </div>
          <div class="slide-right col-sm-4 no-padding-right" data-plugin-options='{"distance":400,"speed":2000}'>
            <!-- IMAGE SECTION -->
            <div class="item"><img src="../../common/images/projects-01-4.jpg" alt="nevermore"></div>
            <!-- END IMAGE SECTION -->
          </div>
        </div>
      </div>
    </section>
    <!-- END PROJECT 01 -->
    

    <!-- PRICE 01 -->

    <section class="price-01 spacing" data-scroll-index="3">
      
      <div class="container">
        
        
        <div class="title col-xs-12">
          <h2>Interactive user guide</h2>
          <div class="small-border"></div>
          <h5>We did our best describing all the components, guiding you from step A to Z in an comprehensive manner.</h5>
        </div>
      </div>
      <div class="container-fluid">
        <div class="row text-center nopadding">
          <div class="grid-pricing">
            <!-- PRICING BOX -->
            <div class="slide-right box" data-plugin-options='{"distance":400,"speed":2000}'>
              <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%">
              <line class="top" x1="0" y1="0" x2="900" y2="0"/>
                <line class="left" x1="0" y1="560" x2="0" y2="-920"/>
                  <line class="bottom" x1="300" y1="560" x2="-600" y2="560"/>
                    <line class="right" x1="300" y1="0" x2="300" y2="1680"/>
                      </svg>
                      <h3>
                      Basic
                      </h3>
                      <h1>50E</h1>
                      <h5>monthly</h5>
                      <ul class="pricing-features">
                        <li>
                          High Performance
                        </li>
                        <li>
                          Theme Update
                        </li>
                        <li>
                          Layerd Photoshop PSD
                        </li>
                        <li>
                          Most Wanted
                        </li>
                        <li>
                          5 e-mail Account
                        </li>
                      </ul>
                      <button class="btn btn-price grow" type="button">
                      Read More
                      </button>
                    </div>
                    <!-- END PRICING BOX -->
                    <!-- PRICING BOX -->
                    <div class="slide-left box" data-plugin-options='{"distance":700,"speed":2000}'>
                      <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%">
                      <line class="top" x1="0" y1="0" x2="900" y2="0"/>
                        <line class="left" x1="0" y1="560" x2="0" y2="-920"/>
                          <line class="bottom" x1="300" y1="560" x2="-600" y2="560"/>
                            <line class="right" x1="300" y1="0" x2="300" y2="1680"/>
                              </svg>
                              <h3>
                              Basic
                              </h3>
                              <h1>50E</h1>
                              <h5>monthly</h5>
                              <ul class="pricing-features">
                                <li>
                                  High Performance
                                </li>
                                <li>
                                  Theme Update
                                </li>
                                <li>
                                  Layerd Photoshop PSD
                                </li>
                                <li>
                                  Most Wanted
                                </li>
                                <li>
                                  5 e-mail Account
                                </li>
                              </ul>
                              <button class="btn btn-price grow" type="button">
                              Read More
                              </button>
                            </div>
                            <!-- END PRICING BOX -->
                            <!-- PRICING BOX -->
                            <div class="slide-right box" data-plugin-options='{"distance":500,"speed":2000}'>
                              <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%">
                              <line class="top" x1="0" y1="0" x2="900" y2="0"/>
                                <line class="left" x1="0" y1="560" x2="0" y2="-920"/>
                                  <line class="bottom" x1="300" y1="560" x2="-600" y2="560"/>
                                    <line class="right" x1="300" y1="0" x2="300" y2="1680"/>
                                      </svg>
                                      <h3>
                                      Basic
                                      </h3>
                                      <h1>50E</h1>
                                      <h5>monthly</h5>
                                      <ul class="pricing-features">
                                        <li>
                                          High Performance
                                        </li>
                                        <li>
                                          Theme Update
                                        </li>
                                        <li>
                                          Layerd Photoshop PSD
                                        </li>
                                        <li>
                                          Most Wanted
                                        </li>
                                        <li>
                                          5 e-mail Account
                                        </li>
                                      </ul>
                                      <button class="btn btn-price grow" type="button">
                                      Read More
                                      </button>
                                    </div>
                                    <!-- END PRICING BOX -->
                                  </div>
                                  <!-- /grid -->
                                </div>
                              </div>
                            </section>
                            <!-- END PRICE 01 -->
                            
                            <!-- FOOTER 03 -->
                            <footer class="slide-left footer-03" data-scroll-index="4" data-plugin-options='{"distance":400,"speed":1000}'>
                              <div class="container">
                                <div class="row">
                                  <!-- TITLE -->
                                  <div class="title text-center">
                                    <a class="logo" href="#"><img src="../../common/images/logo-footer.png" alt="nevermore"></a>
                                    <h2>Subscribe our newsletter</h2>
                                  </div>
                                  <!-- END TITLE -->
                                </div>
                                
                              </div>
                              
                              <div class="subscribe">
                                
                                <div class="container">
                                  
                                  <div class="row">
                                    
                                    <!-- SUBSCRIBE FORM -->
                                    <form name="subscribe" id="newsletter" novalidate="">
                                      <div class="col-md-9">
                                        <div class="form-group">
                                          <span class="icon"><i class="fa fa-envelope-o fa-lg"></i></span>
                                          <input type="email" class="form-control" placeholder="Your Email *" id="email" required="" data-validation-required-message="Please enter your email address." aria-invalid="false">
                                          <p class="help-block text-danger"></p>
                                        </div>
                                      </div>
                                      
                                      <div class="col-md-3 send">
                                        <div class="form-group">
                                          <button type="submit" class="btn btn-subscribe btn-xl">Subscribe<i class="fa fa-arrow-circle-right"></i></button>
                                        </div>
                                        
                                      </div>
                                    </form>
                                    <!-- END SUBSCRIBE FORM -->
                                    
                                  </div>
                                </div>
                              </div>
                              
                            </footer>
                            <!-- END FOOTER 03 -->
                          <script src="../../common/js/vendor/jquery-1.11.0.min.js"></script>
                         <script>window.jQuery || document.write('<script src="../../common/js/vendor/jquery-1.11.0.min.js"><\/script>')</script>
                         <script src="../../common/js/vendor/bootstrap.min.js"></script>
                         <script src="../../common/js/plugins.js"></script>                      
                         <script src="../../common/js/main.js"></script> 
                         <script>$(window).fadeThis({reverse:false});</script>
    
  </body>
</html>