/**
 * Contact 01 stylesheet  
 * */
.spacing {
  padding-bottom: 0;
}
.contact-01 .title h2 {
  color: #000;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}
.contact-01 .title .small-border {
  width: 10%;
  border: 2px solid #aba197;
}
.contact-01 .title h5 {
  padding-top: 20px;
  padding-bottom: 20px;
  color: #282828;
  font-family: 'Raleway', sans-serif;
}
.contact-01 ul.info {
  list-style-type: none;
  padding-left: 0;
  color: #7e7e7e;
  padding-bottom: 30px;
}
.contact-01 #contactForm {
  padding-top: 75px;
  padding-bottom: 75px;
}
.contact-01 #contactForm h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  color: #000;
  padding-bottom: 20px;
}
.contact-01 #contactForm .form-group {
  margin-bottom: 25px;
}
.contact-01 #contactForm .form-group input,
.contact-01 #contactForm .form-group textarea {
  border: none;
  border-radius: 0px;
  border-bottom: 1px solid #7e7e7e;
  box-shadow: none;
}
.contact-01 #contactForm .btn-simple {
  background: none;
  font-weight: bold;
  padding-right: 0px;
}
.contact-01 #contactForm .btn-simple i {
  padding-right: 10px;
}
.contact-01 #contactForm i {
  vertical-align: middle;
}
.contact-01 ul.social-icons {
  list-style-type: none;
  padding-left: 0;
  padding-top: 75px;
}
@media (max-width: 480px) {
  .contact-01 ul.social-icons {
    padding-top: 0;
    padding-bottom: 75px;
  }
}
.contact-01 ul.social-icons li {
  padding-top: 25px;
}
@media only screen and (max-width: 480px) {
  .contact-01 ul.social-icons li {
    display: inline-block;
    padding-right: 30px;
  }
  .contact-01 ul.social-icons li:last-child {
    padding-right: 0px;
  }
}
.contact-01 ul.social-icons li a {
  color: #7e7e7e;
}
.contact-01 .map {
  border-bottom: 4px solid #aba197;
}
.contact-01 .map iframe {
  width: 100%;
}
.contact-01 #success,
.contact-01 #error {
  display: none;
}
.contact-01 #success span,
.contact-01 #erro span {
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
}
.contact-01 #success span p,
.contact-01 #error span p {
  margin-top: 6em;
}
.contact-01 #success span p {
  color: #9bd32d;
}
.contact-01 #error span p {
  color: #c0392b;
}