<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
  <title>Layout 05</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="../../common/css/animations.css">
  <link rel="stylesheet" href="../../common/css/owl-carousel/owl.carousel.css">
  <link rel="stylesheet" href="../../common/css/owl-carousel/owl.theme.default.css">
  <link rel="stylesheet" href="../../common/css/owl-carousel/owl.video.css">
  <link rel="stylesheet" href="../../common/css/venobox/venobox.css">
  <script src="../../common/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
</head>
<body>
  <!--[if lt IE 7]>
  <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
  
  <!-- HEADER-03 NAVIGATION BAR -->
  
  <div class="header-03">
    <div class="navbar navbar-03 navbar-fixed-top">
      <div class="container">
        <div class="navbar-side">
          
          <a class="navbar-brand" href="#"><img src="../../common/images/logo.png" alt="nevermore"></a>
          
          <!-- TOGGLE MENU -->
          <a href="#menu" class="menu-link" id="nav-icon3">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </a>
        </div>
      </div>
    </div>
    
    <nav id="menu" class="panel-side" role="navigation">
      
      <ul>
        <li><a class="side-menu" href="#" data-scroll-nav="0">Home</a></li>
        <li><a class="side-menu" href="#" data-scroll-nav="1">Features</a></li>
        <li><a class="side-menu" href="#" data-scroll-nav="2">Works</a></li>
        <li><a class="side-menu" href="#" data-scroll-nav="3">Contact</a></li>
      </ul>
      <ul class="address">
        <li> 2217 14th St NW, Washington,</li>
        <li>+1 202-905-2729</li>
        <li>+4 202-138-9326</li>
        <li>hello@outboxvision.co</li>
      </ul>
      
      <ul class="social">
        <li><a href="#"><i class="fa fa-facebook fa-2x"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter fa-2x"></i></a></li>
        <li><a href="#"><i class="fa fa-google-plus fa-2x"></i></a></li>
        
      </ul>
      
    </nav>
  </div>
  
  
  <!-- END HEADER-03 NAVIGATION BAR -->
  <!-- HEADER-03 CONTENT -->
  <div class="header-03-sub  v-center">
    <div>
      
      <div class="slide-left container" data-plugin-options='{"speed":1000}'>
        
        <!-- SLOGAN CONTENT -->
        <div class="slogan text-center">
          
          <h1>DRAG & DROP GENERATOR</h1>
          <p class="lead">We've made it straightforward for you.
          All you have to do is drag and drop the components as you like.
          </p>
        </div>
        <!-- END SLOGAN CONTENT -->
        <!-- SCROLL DOWN BUTTON -->
        <a class="scrollDown" href="#">
          <img alt="nevermore" src="../../common/images/scrollDown-02.png">
        </a>
      </div>
    </div>
    
  </div>
  
  <!-- END HEADER-03 CONTENT -->
  <!-- CONTENT-06 -->
  <section class="content-06 spacing" data-scroll-index="1">
    <div class="container">
      <div class="row">
        
        <!-- START CAROUSEL -->
        <div id="carousel-content-06" class="carousel slide" data-ride="carousel" data-plugin-options='{"speed":1000}'>
          
          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            
            <!-- FIRST SLIDE -->
            <div class="item active">
              <div class="col-md-6">
                
                <h1>Modular <br/> Components</h1>
                <div class="small-border"></div>
                <p>
                Using Nevermore Generator you get puzzle blocks like headers, contents, projects, teams, prices, footers which you can easily combine to create unique websites.
                </p>
                <a href="#" class="btn-hallow grow">CTA BUTTON</a>
              </div>
              <div class="col-md-6">
                <img class="img-responsive pull-right" src="../../common/images/content-06-slide1.png" alt="nevermore">
              </div>
            </div>
            <!-- END FIRST SLIDE -->
            
            
            <div class="item">
              <div class="col-md-6">
                
                <h1>Demos</h1>
                <div class="small-border"></div>
                <p>Although you have 108 possibilites to create a unique website, we've picked 10 websites which we like most.</p>
                <p>Using Nevermore, generating a website is very simple. All you have to do is drag and drop the components you like and press one button to generate your website.</p>
                </p>
                <a href="#" class="btn-hallow grow">CTA BUTTON</a>
              </div>
              <div class="col-md-6">
                <img class="img-responsive pull-right" src="../../common/images/content-06-slide2.png" alt="nevermore">
              </div>
            </div>


             <div class="item">
              <div class="col-md-6">
                
                <h1>Great Documentation</h1>
                <div class="small-border"></div>
                <p>We've payed a great deal of attention creating an understandable documentation which makes it clear even if you are not an experienced developer.

                   We did our best describing all the components, guiding you from step A to Z in an comprehensive manner. We love what we did and we want this to be used by as many people as possible.</p>
               
                </p>
                <a href="#" class="btn-hallow grow">CTA BUTTON</a>
              </div>
              <div class="col-md-6">
                <img class="img-responsive pull-right" src="../../common/images/content-06-slide3.png" alt="nevermore">
              </div>
            </div>




             <div class="item">
              <div class="col-md-6">
                
                <h1>Responsive Layout</h1>
                <div class="small-border"></div>
                <p>We've paid attention to mobile devices.
                   So you're website will look great on various devices.
                   In this way your website will be accesible for more and more people.</p>
               
                </p>
                <a href="#" class="btn-hallow grow">CTA BUTTON</a>
              </div>
              <div class="col-md-6">
                <img class="img-responsive pull-right" src="../../common/images/content-06-slide4.png" alt="nevermore">
              </div>
            </div>
            
          </div>
          
          
          <!-- INDICATORS -->
          <ol class=" features">
            
            <li data-target="#carousel-content-06" data-slide-to="0" class="active"><img src="../../common/images/content-06-slide-icon1.png" alt="nevermore"><p class="indicators">Modular Compoents</li>
            
            <li data-target="#carousel-content-06" data-slide-to="1"><img src="../../common/images/content-06-slide-icon2.png" alt="nevermore"><p class="indicators">Demos</p></li>
            <li data-target="#carousel-content-06" data-slide-to="2"><img src="../../common/images/content-06-slide-icon3.png" alt="nevermore"><p class="indicators">Great Documentation</p></li>
            <li data-target="#carousel-content-06" data-slide-to="3"><img src="../../common/images/content-06-slide-icon4.png" alt="nevermore"><p class="indicators">Responsive Layout</p></li>
            
          </ol>
          <!-- END INDICATORS -->
        </div>
      </div>
    </div>
  </section>
  <!-- END CONTENT-06 -->
  
  <!-- PROJECT 02 -->
  <section class="projects-02 spacing" data-scroll-index="2">
    
    <div class="container-fluid">
      <div class="row">
        <!-- PROJECT -->
        <div class="slide-left project no-padding col-xs-12" data-plugin-options='{speed":1000}'>
          
          
          <figure class="project-ratio">
            <img src="../../common/images/projects-02-1.jpg" alt="nevermore">
            
            <!-- PROJECT OVERLAY -->
            <div class="overlay text-center">
              
              <div class="center">
                <a href="#">
                  <h1>Project Name </h1><i class="fa fa-plus-circle fa-2x"></i>
                  
                </a>
              </div>
            </div>
            <!-- END PROJET OVERLAY -->
          </figure>
          
        </div>
        <!-- END PROJECT -->
      </div>
      <div class="row">
        
        <!-- PROJECT -->
        <div class="slide-left project no-padding col-xs-12" data-plugin-options='{speed":1000}'>
          
          
          <figure class="project-ratio">
            <img src="../../common/images/projects-02-2.jpg" alt="nevermore">
            
            <!-- PROJECT OVERLAY -->
            <div class="overlay text-center">
              
              <div class="center">
                <a href="#">
                  <h1>Project Name </h1><i class="fa fa-plus-circle fa-2x"></i>
                  
                </a>
              </div>
            </div>
            <!-- END PROJECT OVERLAY -->
          </figure>
          
        </div>
        <!-- END PROJECT -->
      </div>
      <div class="row">
        
        <!-- PROJECT -->
        <div class="slide-left project no-padding col-xs-12" data-plugin-options='{speed":1000}'>
          
          
          <figure class="project-ratio">
            <img src="../../common/images/projects-02-3.jpg" alt="nevermore">
            
            <!-- PROJECT OVERLAY -->
            
            <div class="overlay text-center">
              
              <div class="center">
                <a href="#">
                  <h1>Project Name </h1><i class="fa fa-plus-circle fa-2x"></i>
                  
                </a>
              </div>
            </div>
            <!-- END PROJECT OVERLAY -->
          </figure>
          
        </div>
        <!-- END PROJECT -->
      </div>
      <div class="row">
        
        <!-- PROJECT -->
        <div class="slide-left project no-padding col-xs-12 hide-project" data-plugin-options='{speed":1000}'>
          
          <figure class="project-ratio">
            <img src="../../common/images/projects-02-4.jpg" alt="nevermore">
            
            <!-- PROJECT OVERLAY -->
            <div class="overlay text-center">
              
              <div class="center">
                <a href="#">
                  <h1>Project Name </h1><i class="fa fa-plus-circle fa-2x"></i>
                  
                </a>
              </div>
            </div>
            <!-- END PROJECT OVERLAY -->
          </figure>
          
        </div>
        <!-- END PROJECT -->
        
      </div>
      <div class="row">
        
        <!-- LOAD MORE BUTTON -->
        <div class="load-more text-center">
          <span class="icon"><img src="../../common/images/load-more.png" alt="nevermore"></span>
          <button type="button" data-loading-text="Loading..." class="btn btn-simple btn-load">
          LOAD MORE PROJECTS
          </button>
        </div>
        <!-- END LOAD MORE BUTTON -->
      </div>
      
    </div>
    
  </section>
  <!-- END PROJECT 02-->
  
  <!-- CONTENT-02 -->
  
  <section class="slide-left content-02 spacing" data-plugin-options='{"speed":1000}'>
    
    <!-- BACKGROUND IMAGE-->
    <div class="bg-image">
      <div class="container">
        <div class="row text-center">
          
          <!-- CALL TO ACTION BUTTON -->
          <div class="cta">
            <h1>Show Reel</h1>
            <a class="venobox" data-type="youtube" href="http://vimeo.com/59939285"><i class="fa fa-play-circle-o fa-3x"></i></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- END CONTENT-02 -->
  
  <!-- FOOTER 03 -->
  <footer class="slide-left footer-03" data-scroll-index="3" data-plugin-options='{"distance":400,"speed":1000}'>
    <div class="container">
      <div class="row">
        <!-- TITLE -->
        <div class="title text-center">
          <a class="logo" href="#"><img src="../../common/images/logo-footer.png" alt="nevermore"></a>
          <h2>Subscribe our newsletter</h2>
        </div>
        <!-- END TITLE -->
      </div>
      
    </div>
    
    <div class="subscribe">
      
      <div class="container">
        
        <div class="row">
          
          <!-- SUBSCRIBE FORM -->
          <form name="subscribe" id="newsletter" novalidate="">
            <div class="col-md-9">
              <div class="form-group">
                <span class="icon"><i class="fa fa-envelope-o fa-lg"></i></span>
                <input type="email" class="form-control" placeholder="Your Email *" id="email" required="" data-validation-required-message="Please enter your email address." aria-invalid="false">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            
            <div class="col-md-3 send">
              <div class="form-group">
                <button type="submit" class="btn btn-subscribe btn-xl">Subscribe<i class="fa fa-arrow-circle-right"></i></button>
              </div>
              
            </div>
          </form>
          <!-- END SUBSCRIBE FORM -->
          
        </div>
      </div>
    </div>
    
  </footer>
  <!-- END FOOTER 03 -->
  
  <!-- FOOTER 02 -->
  <footer class="footer-02 spacing">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <!-- CONTACT INFO -->
          <ul class="info">
            <li>AOD New York</li>
            <li>2250 Lexington Avenue</li>
            <li>New York, NY 10035 - info@domain.com</li>
          </ul>
          <!-- END CONTACT INFO -->
        </div>
        <div class="col-md-4">
          
          <!-- SOCIAL ICONS -->
          <ul class="social-icons text-center">
            <li><a href="#"><i class="fa fa-facebook fa-lg"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter  fa-lg"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus fa-lg"></i></a></li>
          </ul>
          <!-- END SOCIAL ICONS -->
        </div>
        <div class="col-md-4">
          
          <!-- COPYRIGHT -->
          <div class="copyright text-right">
            <p>Handcrafted by: <img class="logo" src="../../common/images/logo-footer.png" alt="nevermore"></p>
          </div>
          <!-- END COPYRIGHT -->
        </div>
      </div>
    </div>
    
    
  </footer>
  <!-- END FOOTER 02 -->
  <script src="../../common/js/vendor/jquery-1.11.0.min.js"></script>
   <script>window.jQuery || document.write('<script src="../../common/js/vendor/jquery-1.11.0.min.js"><\/script>')</script>
   <script src="../../common/js/vendor/bootstrap.min.js"></script>
   <script src="../../common/js/plugins.js"></script>                      
   <script src="../../common/js/main.js"></script> 
   <script>$(window).fadeThis({reverse:false});</script>
  </body>
</html>
  
<