/**
 * Content 01 stylesheet  
 * */
.content-01 {
  color: #7e7e7e;
}
.content-01 h2 {
  font-weight: bold;
  padding-bottom: 20px;
  margin-top: 0px;
}
@media only screen and (max-width: 480px) {
  .content-01 h2 {
    font-size: 28px;
  }
}
.content-01 blockquote {
  font-size: 16px;
  border-color: #7e7e7e;
  margin-top: 40px;
}
.content-01 .btn-hallow {
  display: block;
  width: 40%;
  text-align: center;
  color: #545454;
  padding: 10px;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 2px;
  margin-top: 40px;
  border: 1px solid #aba197;
}
@media only screen and (max-width: 480px) {
  .content-01 .btn-hallow {
    width: 100%;
  }
}
@media (max-width: 992px) {
  .content-01 .first img {
    margin-top: 60px;
  }
}
.content-01 .featured-image {
  background: url(../../../common/images/placeholder-02.png) no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 800px;
  position: relative;
  top: -250px;
}
@media (max-width: 992px) {
  .content-01 .featured-image {
    background-size: 700px;
    background-position: left center;
    top: -200px;
  }
}
.content-01 .row:first-child {
  margin-bottom: 50px;
}
@media (max-width: 480px) {
  .content-01 img.mobile {
    margin-left: -40px;
  }
}