<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
  <title>Layout-03</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="../../common/css/animations.css">
  <link rel="stylesheet" href="../../common/css/owl-carousel/owl.carousel.css">
  <link rel="stylesheet" href="../../common/css/owl-carousel/owl.theme.default.css">
  <link rel="stylesheet" href="../../common/css/owl-carousel/owl.video.css">
  <script src="../../common/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
</head>
<body>
  <!--[if lt IE 7]>
  <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
  
  <!-- HEADER-02 NAVIGATION BAR -->
  
  <div class="header-02">
    <div class="navbar navbar-simple navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><img src="../../common/images/logo.png" alt="nevermore"></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right lava">
            <li class="active">
              <a href="#">Home</a>
            </li>
            <li>
              <a href="#">Features</a>
            </li>
            <li>
              <a href="#">Showcase</a>
            </li>
            <li>
              <a href="#">Team</a>
            </li>
            <li>
              <a href="#">Contact</a>
            </li>
            
          </ul>
          </div><!--/.navbar-collapse -->
        </div>
      </div>
    </div>
    <!-- END HEADER-02 NAVIGATION BAR -->
    
    <!-- HEADER-02 CONTENT -->
    <div class="header-02-sub">
      <!-- SLIDER STARTS HERE -->
      <div id="header-2-carousel" class="owl-carousel owl-theme text-center">
        
        <div class="slide-left item ratio" data-plugin-options='{"distance":100,"speed":1000}'>
          <div class="overlay"></div>
          <img src="../../common/images/header-02-slide1.jpg" alt="The Last of us">
          
          <!-- CAPTION STARTS HERE -->
          <div class="caption">
            <h1>Meet <strong>Nevermore!</strong></h1>
            <h2>/creative one page generator.</h2>
            <p class="lead">
            
            The ideal puzzle based tool for creating websites within minutes
            </p>
            
          </div>
          <!-- CAPTION STARTS HERE -->
        </div>
        <div class="item ratio">
          <div class="overlay"></div>
          <img src="../../common/images/header-02-slide2.jpg" alt="nevermore">
          
          <!-- CAPTION STARTS HERE -->
          <div class="caption">
            
            <h1><strong>PUZZLE</strong> BLOCKS</h1>
            <p class="lead">
            
            You can easily combine  ready made blocks in order to create your website. It's straightforward!
            </p>
            
          </div>
          <!-- CAPTION ENDS HERE -->
        </div>
        <div class="item ratio">
          <div class="overlay"></div>
          <img src="../../common/images/header-02-slide3.jpg" alt="nevermore">
          
          <!-- CAPTION STARTS HERE -->
          <div class="caption">
            
            <h1><strong>MULTI PURPOSE</strong> Components</h1>
            <p class="lead">
            There are a lot of different multi useful compononents like headers, contents, projects, contacts, footers, which you can combine in variety of ways.
            </p>
            
          </div>
          <!-- CAPTION ENDS HERE -->
        </div>
        
      </div>
      <!-- SLIDER ENDS HERE -->
      <!-- SCROLL DOWN BUTTON-->
      <div class="scrollDown">
        <a href="#"><img alt="nevermore" src="../../common/images/scrollDown.png"></a>
      </div>
    </div>
    
    <!-- END HEADER-02 CONTENT -->
    
    <!-- CONTENT-05 -->
    <section class="content-05 spacing">
      
      <div class="container">
        <div class="row">
          
          <!--TITLE-->
          <div class="title col-xs-12">
            <h1>Responsive Layout</h1>
            <div class="small-border"></div>
            <h5><strong>We've paid attention to mobile devices.</strong><br/>
            So you're website will look great on various devices.<br/>
            In this way your  website will be accesible for more and more people.</h5>
          </div>
          <!--END TITLE-->
          
        </div>
      </div>
      <!--FEATURE-->
      <div class="slide-left feature" data-plugin-options='{"distance":100,speed":1000}'>
        <div class="container">
          <div class="row">
            <div class="slide-left col-md-4 image" data-plugin-options='{"distance":700,speed":3000}'>
              <img class="img-responsive" src="../../common/images/content-05-1.png" alt="nevermore">
            </div>
            <div class="col-md-8">
              <h2>Demos</h2>
              <h5><strong>Although you have 140 possibilites to create a unique website, we've picked 10 websites which we like most.</strong></h5>
              <p>Using Nevermore,  generating a  website is very simple. All you have to do is drag and drop the components  you like and press one button to generate your website.
              HTML layouts are based on BOOTSTRAP which  is the most reliable framework.
              </p>
            </div>
          </div>
        </div>
      </div>
      <!--END FEATURE-->
      
      <!--FEATURE-->
      <div class="slide-left feature " data-plugin-options='{"distance":100,"speed":1000}'>
        <div class="container">
          <div class="row">
            <div class="slide-left col-md-4 image" data-plugin-options='{"distance":700,speed":3000}'>
              <img class="img-responsive" src="../../common/images/content-05-2.png" alt="nevermore">
            </div>
            <div class="col-md-8">
              <h2>Components</h2>
              <h5><strong>Using Nevermore Generator you get puzzle blocks like headers, contents, projects, teams, prices, footers which you can easily combine to create unique websites. </strong></h5>
              <p>Take a break from the routine and spend your time brainstorming ideas for your business, not your website. Instead of spending time brainstorming your website you can spend time planning your business and leave the hard work for the generator.
              </p>
            </div>
          </div>
        </div>
      </div>
      <!--END FEATURE-->
      <!--FEATURE-->
      <div class="slide-left feature" data-plugin-options='{"distance":300,"speed":1000}'>
        <div class="container">
          <div class="row">
            <div class="slide-left col-md-4 image" data-plugin-options='{"distance":700,speed":3000}'>
              <img class="img-responsive" src="../../common/images/content-05-3.png" alt="nevermore">
            </div>
            <div class="col-md-8">
              <h2>Documentation</h2>
              <h5><strong>We've payed a great deal of attention creating an understandable documentation which  makes it clear even if you are not  an experienced developer.</strong></h5>
              <p>We did our best describing all the components, guiding you from step A to Z in an comprehensive manner.
              We love what we did and we want this to be used by as many people as possible. Therefore, we offer you our help solving whatever problem you might encounter.
              </p>
            </div>
          </div>
        </div>
      </div>
      <!--END FEATURE-->
    </section>
    <!-- END CONTENT-05 -->
    <!-- CONTENT-04 -->
    <section class="content-04 spacing" data-plugin-options='{"distance":200,"speed":1000}'>
      
      <!-- BACKGROUND IMAGE -->
      <div class="bg-image">
        
        <div class="container">
          <h1 class="title text-center">
          RETINA READY
          </h1>
          
          <!-- BORDER  -->
          <div class="border text-center">
            <p>&nbsp;&nbsp;&nbsp;<i class="fa fa-heart-o"></i>&nbsp;&nbsp;&nbsp;</p>
          </div>
          <div class="row text-center">
            
            <!--STATS-->
            <div class="stats col-sm-3">
              <img src="../../common/images/time-icon.png" alt="nevermore">
              <h2 class="count">3200</h2>
              <h4>Hours of work</h4>
            </div>
            <!--END STATS-->
            <!--STATS-->
            <div class="stats col-sm-3">
              <img src="../../common/images/person-icon.png" alt="nevermore">
              <h2 class="count">120</h2>
              <h4>Satisfied Clients</h4>
            </div>
            <!--END STATS-->
            
            
            <!--STATS-->
            <div class="stats col-sm-3">
              <img src="../../common/images/star-icon.png" alt="nevermore">
              <h2 class="count">360</h2>
              <h4>Projects Delivered</h4>
            </div>
            <!--END STATS-->
            
            <!--STATS-->
            <div class="stats col-sm-3">
              <img src="../../common/images/prize-icon.png" alt="nevermore">
              <h2 class="count">42</h2>
              <h4>Awards Won</h4>
            </div>
            <!--END STATS-->
          </div>
        </div>
      </div>
    </section>
    <!-- END CONTENT-04 -->
    <!-- FOOTER 02 -->
    <footer class="footer-02">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <!-- CONTACT INFO -->
            <ul class="info">
              <li>AOD New York</li>
              <li>2250 Lexington Avenue</li>
              <li>New York, NY 10035 - info@domain.com</li>
            </ul>
            <!-- END CONTACT INFO -->
          </div>
          <div class="col-md-4">
            
            <!-- SOCIAL ICONS -->
            <ul class="social-icons text-center">
              <li><a href="#"><i class="fa fa-facebook fa-lg"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter  fa-lg"></i></a></li>
              <li><a href="#"><i class="fa fa-google-plus fa-lg"></i></a></li>
            </ul>
            <!-- END SOCIAL ICONS -->
          </div>
          <div class="col-md-4">
            
            <!-- COPYRIGHT -->
            <div class="copyright text-right">
              <p>Handcrafted by: <img class="logo" src="../../common/images/logo-footer.png" alt="nevermore"></p>
            </div>
            <!-- END COPYRIGHT -->
          </div>
        </div>
      </div>
      
      
    </footer>
    <!-- END FOOTER 02 -->
    
   <script src="../../common/js/vendor/jquery-1.11.0.min.js"></script>
   <script>window.jQuery || document.write('<script src="../../common/js/vendor/jquery-1.11.0.min.js"><\/script>')</script>
   <script src="../../common/js/vendor/bootstrap.min.js"></script>
   <script src="../../common/js/plugins.js"></script>                      
   <script src="../../common/js/main.js"></script> 
   <script>$(window).fadeThis({reverse:false});</script>
    
  </body>
</html>