<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
  <title>Layout-01</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="../../common/css/animations.css">
  <link rel="stylesheet" href="../../common/css/owl-carousel/owl.carousel.css">
  <link rel="stylesheet" href="../../common/css/owl-carousel/owl.theme.default.css">
  <link rel="stylesheet" href="../../common/css/owl-carousel/owl.video.css">
  <link rel="stylesheet" href="../../common/css/venobox/venobox.css">
  <script src="../../common/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
</head>
<body>
  <!--[if lt IE 7]>
  <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
  
  <!-- HEADER-01 CONTENT -->
  <div class="header-01-sub" data-scroll-index="0">
    <div class="jumbotron">
      <div class="container">
        <div class="row">
          <div class="slide-left col-sm-6"  data-plugin-options='{"distance":700,"speed":1000}'>
            <h1>Creative One Page Generator</h1>
            <div class="small-border"></div>
            <p class="lead">
            The ideal puzzle based tool for creating websites within minutes
            </p>
            <p><a class="btn btn-simple btn-lg" role="button"><i class="fa fa-arrow-circle-down fa-2x"></i>See Features</a></p>
          </div>
          
          <!-- CAROUSEL STARTS HERE -->
          <div class="slide-right col-sm-6" data-plugin-options='{"distance":700,"speed":1000}'>
            <div  id="header-1-carousel" class="owl-carousel owl-theme">
              <div class="item">
                <img src="../../common/images/header-01-slide.png" alt="nevermore">
              </div>
              <div class="item-video"><a class="owl-video" href="http://vimeo.com/10577584"></a></div>
              <div class="item-video"><a class="owl-video" href="http://www.youtube.com/watch?v=FBu_jxT1PkA"></a></div>
              
            </div>
            
          </div>
          <!-- CAROUSEL ENDS HERE -->
        </div>
      </div>
    </div>
  </div>
  
  <!-- END HEADER-01 CONTENT -->
  
  <!-- HEADER-01 NAVIGATION BAR -->
  
  <div class="header-01">
    <div class="navbar navbar-simple" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><img src="../../common/images/logo.png" alt="nevermore"></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="#" data-scroll-nav="0">Home</a>
            </li>
            <li>
              <a href="#" data-scroll-nav="1">Features</a>
            </li>
            <li>
              <a href="#" data-scroll-nav="2">Prices</a>
            </li>
            <li>
              <a href="#" data-scroll-nav="3">Contact</a>
            </li>
          </ul>
          </div><!--/.navbar-collapse -->
        </div>
      </div>
    </div>
    <!-- END HEADER-01 NAVIGATION BAR -->
    
    <!-- CONTENT-01 -->
    
    <section class="content-01 spacing" data-scroll-index="1">
      
      <div class="container">
        
        <div class="slide-left row" data-plugin-options='{"distance":300,"speed":1000}'>
          
          <!-- IMAGE SECTION -->
          <div class="image col-md-7 visible-xs">
            <img class="img-responsive mobile" src="../../common/images/content-01-feature.png" alt="nevermore">
          </div>
          <!-- END IMAGE SECTION -->
          <!-- DESCRIPTION -->
          <div class="description col-md-5">
            <h2>108+ POSSBILE WEBSITES</h2>
            <p>At this point you have 108 possible combinations to create a unique website, anyway,  with each component we add every month your posibilities will increase.</p>
            <blockquote>
              <p>If you don't have that much experience with HTML, LESS, CSS3 and JAVASCRIPT. Check our video tutorials section available at your disposal.
              This will guide you creating a complete and unique website from design to code.</p>
            </blockquote>
            <a href="#" class="btn-hallow pop">CTA BUTTON</a>
          </div>
          <!-- END DESCRIPTION -->
          
          <!-- IMAGE SECTION -->
          <div class="image col-md-7 hidden-xs">
            <img class="img-responsive" src="../../common/images/content-01-feature.png" alt="nevermore">
          </div>
          <!-- END IMAGE SECTION -->
        </div>
        <div class="slide-right row" data-plugin-options='{"distance":100,"speed":1000}'>
          
          
          <div class="col-md-7">
            <img class="img-responsive" src="../../common/images/content-01-feature2.png" alt="nevermore">
          </div>
          
          <!-- DESCRIPTION-->
          <div class="description col-md-5">
            <h2>GREAT DOCUMENTATION</h2>
            <p>We've payed a great deal of attention creating an understandable documentation which makes it clear even if you are not an
            experienced developer.</p>
            <blockquote>
              <p>We did our best describing all the components, guiding you from
              step A to Z in an comprehensive manner.</p>
            </blockquote>
            <a href="#" class="btn-hallow pop">CTA BUTTON</a>
          </div>
          <!-- END DESCRIPTION-->
          
          
        </div>
      </div>
    </section>
    <!-- END CONTENT-01 -->
    <!-- CONTENT-06 -->
  <section class="content-06 spacing" data-scroll-index="1">
    <div class="container">
      <div class="row">
        
        <!-- START CAROUSEL -->
        <div id="carousel-content-06" class="carousel slide" data-ride="carousel" data-plugin-options='{"speed":1000}'>
          
          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            
            <!-- FIRST SLIDE -->
            <div class="item active">
              <div class="col-md-6">
                
                <h1>Modular <br/> Components</h1>
                <div class="small-border"></div>
                <p>
                Using Nevermore Generator you get puzzle blocks like headers, contents, projects, teams, prices, footers which you can easily combine to create unique websites.
                </p>
                <a href="#" class="btn-hallow grow">CTA BUTTON</a>
              </div>
              <div class="col-md-6">
                <img class="img-responsive pull-right" src="../../common/images/content-06-slide1.png" alt="nevermore">
              </div>
            </div>
            <!-- END FIRST SLIDE -->
            
            
            <div class="item">
              <div class="col-md-6">
                
                <h1>Demos</h1>
                <div class="small-border"></div>
                <p>Although you have 108 possibilites to create a unique website, we've picked 10 websites which we like most.</p>
                <p>Using Nevermore, generating a website is very simple. All you have to do is drag and drop the components you like and press one button to generate your website.</p>
                </p>
                <a href="#" class="btn-hallow grow">CTA BUTTON</a>
              </div>
              <div class="col-md-6">
                <img class="img-responsive pull-right" src="../../common/images/content-06-slide2.png" alt="nevermore">
              </div>
            </div>


             <div class="item">
              <div class="col-md-6">
                
                <h1>Great Documentation</h1>
                <div class="small-border"></div>
                <p>We've payed a great deal of attention creating an understandable documentation which makes it clear even if you are not an experienced developer.

                   We did our best describing all the components, guiding you from step A to Z in an comprehensive manner. We love what we did and we want this to be used by as many people as possible.</p>
               
                </p>
                <a href="#" class="btn-hallow grow">CTA BUTTON</a>
              </div>
              <div class="col-md-6">
                <img class="img-responsive pull-right" src="../../common/images/content-06-slide3.png" alt="nevermore">
              </div>
            </div>




             <div class="item">
              <div class="col-md-6">
                
                <h1>Responsive Layout</h1>
                <div class="small-border"></div>
                <p>We've paid attention to mobile devices.
                   So you're website will look great on various devices.
                   In this way your website will be accesible for more and more people.</p>
               
                </p>
                <a href="#" class="btn-hallow grow">CTA BUTTON</a>
              </div>
              <div class="col-md-6">
                <img class="img-responsive pull-right" src="../../common/images/content-06-slide4.png" alt="nevermore">
              </div>
            </div>
            
          </div>
          
          
          <!-- INDICATORS -->
          <ol class=" features">
            
            <li data-target="#carousel-content-06" data-slide-to="0" class="active"><img src="../../common/images/content-06-slide-icon1.png" alt="nevermore"><p class="indicators">Modular Compoents</li>
            
            <li data-target="#carousel-content-06" data-slide-to="1"><img src="../../common/images/content-06-slide-icon2.png" alt="nevermore"><p class="indicators">Demos</p></li>
            <li data-target="#carousel-content-06" data-slide-to="2"><img src="../../common/images/content-06-slide-icon3.png" alt="nevermore"><p class="indicators">Great Documentation</p></li>
            <li data-target="#carousel-content-06" data-slide-to="3"><img src="../../common/images/content-06-slide-icon4.png" alt="nevermore"><p class="indicators">Responsive Layout</p></li>
            
          </ol>
          <!-- END INDICATORS -->
        </div>
      </div>
    </div>
  </section>
  <!-- END CONTENT-06 -->
    
    <!-- CONTENT-02 -->
    
    <section class="slide-left content-02 spacing" data-plugin-options='{"speed":1000}'>
      
      <!-- BACKGROUND IMAGE-->
      <div class="bg-image">
        <div class="container">
          <div class="row text-center">
            
            <!-- CALL TO ACTION BUTTON -->
            <div class="cta">
              <h1>Show Reel</h1>
              <a class="venobox" data-type="youtube" href="http://vimeo.com/59939285"><i class="fa fa-play-circle-o fa-3x"></i></a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- END CONTENT-02 -->
    <!-- PRICE 01 -->

    <section class="price-01 spacing" data-scroll-index="2">
      
      <div class="container">
        
        
        <div class="title col-xs-12">
          <h2>Interactive user guide</h2>
          <div class="small-border"></div>
          <h5>We did our best describing all the components, guiding you from step A to Z in an comprehensive manner.</h5>
        </div>
      </div>
      <div class="container-fluid">
        <div class="row text-center nopadding">
          <div class="grid-pricing">
            <!-- PRICING BOX -->
            <div class="slide-right box" data-plugin-options='{"distance":400,"speed":2000}'>
              <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%">
              <line class="top" x1="0" y1="0" x2="900" y2="0"/>
                <line class="left" x1="0" y1="560" x2="0" y2="-920"/>
                  <line class="bottom" x1="300" y1="560" x2="-600" y2="560"/>
                    <line class="right" x1="300" y1="0" x2="300" y2="1680"/>
                      </svg>
                      <h3>
                      Basic
                      </h3>
                      <h1>50E</h1>
                      <h5>monthly</h5>
                      <ul class="pricing-features">
                        <li>
                          High Performance
                        </li>
                        <li>
                          Theme Update
                        </li>
                        <li>
                          Layerd Photoshop PSD
                        </li>
                        <li>
                          Most Wanted
                        </li>
                        <li>
                          5 e-mail Account
                        </li>
                      </ul>
                      <button class="btn btn-price grow" type="button">
                      Read More
                      </button>
                    </div>
                    <!-- END PRICING BOX -->
                    <!-- PRICING BOX -->
                    <div class="slide-left box" data-plugin-options='{"distance":700,"speed":2000}'>
                      <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%">
                      <line class="top" x1="0" y1="0" x2="900" y2="0"/>
                        <line class="left" x1="0" y1="560" x2="0" y2="-920"/>
                          <line class="bottom" x1="300" y1="560" x2="-600" y2="560"/>
                            <line class="right" x1="300" y1="0" x2="300" y2="1680"/>
                              </svg>
                              <h3>
                              Basic
                              </h3>
                              <h1>50E</h1>
                              <h5>monthly</h5>
                              <ul class="pricing-features">
                                <li>
                                  High Performance
                                </li>
                                <li>
                                  Theme Update
                                </li>
                                <li>
                                  Layerd Photoshop PSD
                                </li>
                                <li>
                                  Most Wanted
                                </li>
                                <li>
                                  5 e-mail Account
                                </li>
                              </ul>
                              <button class="btn btn-price grow" type="button">
                              Read More
                              </button>
                            </div>
                            <!-- END PRICING BOX -->
                            <!-- PRICING BOX -->
                            <div class="slide-right box" data-plugin-options='{"distance":500,"speed":2000}'>
                              <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%">
                              <line class="top" x1="0" y1="0" x2="900" y2="0"/>
                                <line class="left" x1="0" y1="560" x2="0" y2="-920"/>
                                  <line class="bottom" x1="300" y1="560" x2="-600" y2="560"/>
                                    <line class="right" x1="300" y1="0" x2="300" y2="1680"/>
                                      </svg>
                                      <h3>
                                      Basic
                                      </h3>
                                      <h1>50E</h1>
                                      <h5>monthly</h5>
                                      <ul class="pricing-features">
                                        <li>
                                          High Performance
                                        </li>
                                        <li>
                                          Theme Update
                                        </li>
                                        <li>
                                          Layerd Photoshop PSD
                                        </li>
                                        <li>
                                          Most Wanted
                                        </li>
                                        <li>
                                          5 e-mail Account
                                        </li>
                                      </ul>
                                      <button class="btn btn-price grow" type="button">
                                      Read More
                                      </button>
                                    </div>
                                    <!-- END PRICING BOX -->
                                  </div>
                                  <!-- /grid -->
                                </div>
                              </div>
                            </section>
                            <!-- END PRICE 01 -->
                            <!-- CONTACT-01 -->
                            <footer class="contact-01 spacing" data-scroll-index="3">
                              
                              
                              <div class="container">
                                
                                <div class="slide-left row" data-plugin-options='{"distance":300,"speed":1000}'>
                                  
                                  <div class="col-md-4">
                                    
                                    <!-- CONTACT INFO -->
                                    <div class="contact-details">
                                      
                                      <div class="title">
                                        <h2>Get in Touch</h2>
                                        <div class="small-border"></div>
                                        <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam totam laudantium consequatur dolor velit veritatis.</h5>
                                        <ul class="info">
                                          <li>2345 Setwant natrer, 1234,</li>
                                          <li>Washington, United States.</li>
                                          <li>(401) 1234 567</li>
                                          <li>hello@mykingdom.com</li>
                                        </ul>
                                      </div>
                                      
                                    </div>
                                    <!-- END CONTACT INFO -->
                                    
                                  </div>
                                  <div class="col-md-7">
                                    
                                    <!-- CONTACT FORM  -->
                                    <form name="sendMessage" id="contactForm" novalidate="" method="post">
                                      <h3>Say Hello!</h3>
                                      <div class="row">
                                        
                                        
                                        <div class="col-md-6">
                                          <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Your Name *" id="name" name="name"  data-validation-required-message="Please enter your name." aria-invalid="false" required>
                                            <p class="help-block text-danger"></p>
                                          </div>
                                        </div>
                                        
                                        <div class="col-md-6">
                                          <div class="form-group">
                                            <input type="email" class="form-control" placeholder="Your Email *" id="email"  name="email" data-validation-required-message="Please enter your email address." aria-invalid="false" required>
                                            <p class="help-block text-danger"></p>
                                          </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="col-md-12">
                                          <div class="form-group">
                                            <textarea class="form-control" placeholder="Your Message *" id="message"  data-validation-required-message="Please enter a message." required></textarea>
                                            <p class="help-block text-danger"></p>
                                          </div>
                                        </div>
                                        
                                        <div class="clearfix"></div>
                                        <div class="col-lg-12 text-right">
                                          <i class="fa fa-envelope"></i><input type="submit" id="submit" name="submit" value="Send Message" class="btn btn-simple btn-xl">
                                        </div>
                                      </div>
                                      
                                    </form>
                                    <!-- END CONTACT FORM -->
                                    
                                    <!-- SUCCESS AND ERROR MESSAGES -->
                                    
                                    <div id="success">
                                      <p>Your message was sent successfully! I will be in touch as soon as I can.</p>
                                    </div>
                                    
                                    <div id="error">
                                      <p>Something went wrong, try refreshing and submitting the form again.</p>
                                    </div>
                                    <!-- END SUCCESS AND ERROR MESSAGES -->
                                  </div>
                                  <div class="col-md-1">
                                    <!-- SOCIAL ICONS-->
                                    <ul class="social-icons text-center">
                                      <li><a href="#"><i class="fa fa-behance fa-lg"></i></a></li>
                                      <li><a href="#"><i class="fa fa-facebook fa-lg"></i></a></li>
                                      <li><a href="#"><i class="fa fa-twitter fa-lg"></i></a></li>
                                      <li><a href="#"><i class="fa fa-dribbble fa-lg"></i></a></li>
                                      <li><a href="#"><i class="fa fa-google-plus fa-lg"></i></a></li>
                                    </ul>
                                    <!-- END SOCIAL ICONS -->
                                    
                                  </div>
                                </div>
                              </div>
                              <!-- GOOGLE MAP -->
                              <div class="map">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1446725.9866515996!2d-94.26387473638893!3d44.910386247917145!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x877d432d85e938a5%3A0x7f0d6293186a4b7!2sSouth+Dakota!5e0!3m2!1sen!2s!4v1406461999449"  height="200"  style="border:0"></iframe>
                              </div>
                              
                            </footer>
                            <!-- END CONTACT-01 -->
                            
                            <script src="../../common/js/vendor/jquery-1.11.0.min.js"></script>
                            <script>window.jQuery || document.write('<script src="../../common/js/vendor/jquery-1.11.0.min.js"><\/script>')</script>
                            <script src="../../common/js/vendor/bootstrap.min.js"></script>
                            <script src="../../common/js/plugins.js"></script>
                          
                            <script src="../../common/js/main.js"></script> 
                            <script>$(window).fadeThis({reverse:false});</script>
                            
                          </body>
                        </html>