<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
  <title>Layout 06</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="../../common/css/animations.css">
  <link rel="stylesheet" href="../../common/css/owl-carousel/owl.carousel.css">
  <link rel="stylesheet" href="../../common/css/owl-carousel/owl.theme.default.css">
  <link rel="stylesheet" href="../../common/css/owl-carousel/owl.video.css">
  <link rel="stylesheet" href="../../common/css/venobox/venobox.css">
  <script src="../../common/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
</head>
<body>
  <!--[if lt IE 7]>
  <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
  
  <main>
  
  <!-- HEADER-01 CONTENT -->
  <div class="header-01-sub" data-scroll-index="0">
    <div class="jumbotron">
      <div class="container">
        <div class="row">
          <div class="slide-left col-sm-6"  data-plugin-options='{"distance":700,"speed":1000}'>
            <h1>Creative One Page Generator</h1>
            <div class="small-border"></div>
            <p class="lead">
            The ideal puzzle based tool for creating websites within minutes
            </p>
            <p><a class="btn btn-simple btn-lg" role="button"><i class="fa fa-arrow-circle-down fa-2x"></i>See Features</a></p>
          </div>
          
          <!-- CAROUSEL STARTS HERE -->
          <div class="slide-right col-sm-6" data-plugin-options='{"distance":700,"speed":1000}'>
            <div  id="header-1-carousel" class="owl-carousel owl-theme">
              <div class="item">
                <img src="../../common/images/header-01-slide.png" alt="nevermore">
              </div>
              <div class="item-video"><a class="owl-video" href="http://vimeo.com/10577584"></a></div>
              <div class="item-video"><a class="owl-video" href="http://www.youtube.com/watch?v=FBu_jxT1PkA"></a></div>
              
            </div>
            
          </div>
          <!-- CAROUSEL ENDS HERE -->
        </div>
      </div>
    </div>
  </div>
  
  <!-- END HEADER-01 CONTENT -->
  
  <!-- HEADER-01 NAVIGATION BAR -->
  
  <div class="header-01">
    <div class="navbar navbar-simple" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><img src="../../common/images/logo.png" alt=""></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="#" data-scroll-nav="0">Home</a>
            </li>
            <li>
              <a href="#" data-scroll-nav="1">Features</a>
            </li>
            <li>
              <a href="#" data-scroll-nav="2">Showcase</a>
            </li>
            <li>
              <a href="#" data-scroll-nav="3">Team</a>
            </li>
            <li>
              <a href="#" data-scroll-nav="4">Contact</a>
            </li>
          </ul>
          </div><!--/.navbar-collapse -->
        </div>
      </div>
    </div>
    <!-- END HEADER-01 NAVIGATION BAR -->
    <!-- CONTENT-05 -->
    <section class="content-05 spacing" data-scroll-index="1">
      
      <div class="container">
        <div class="row">
          
          <!--TITLE-->
          <div class="title col-xs-12">
            <h1>Responsive Layout</h1>
            <div class="small-border"></div>
            <h5><strong>We've paid attention to mobile devices.</strong><br/>
            So you're website will look great on various devices.<br/>
            In this way your  website will be accesible for more and more people.</h5>
          </div>
          <!--END TITLE-->
          
        </div>
      </div>
      <!--FEATURE-->
      <div class="slide-left feature" data-plugin-options='{"distance":100,speed":1000}'>
        <div class="container">
          <div class="row">
            <div class="slide-left col-md-4 image" data-plugin-options='{"distance":700,speed":3000}'>
              <img class="img-responsive" src="../../common/images/content-05-1.png" alt="nevermore">
            </div>
            <div class="col-md-8">
              <h2>Demos</h2>
              <h5><strong>Although you have 108 possibilites to create a unique website, we've picked 10 websites which we like most.</strong></h5>
              <p>Using Nevermore,  generating a  website is very simple. All you have to do is drag and drop the components  you like and press one button to generate your website.
              HTML layouts are based on BOOTSTRAP which  is the most reliable framework.
              </p>
            </div>
          </div>
        </div>
      </div>
      <!--END FEATURE-->
      
      <!--FEATURE-->
      <div class="slide-left feature " data-plugin-options='{"distance":100,"speed":1000}'>
        <div class="container">
          <div class="row">
            <div class="slide-left col-md-4 image" data-plugin-options='{"distance":700,speed":3000}'>
              <img class="img-responsive" src="../../common/images/content-05-2.png" alt="nevermore">
            </div>
            <div class="col-md-8">
              <h2>Components</h2>
              <h5><strong>Using Nevermore Generator you get puzzle blocks like headers, contents, projects, teams, prices, footers which you can easily combine to create unique websites. </strong></h5>
              <p>Take a break from the routine and spend your time brainstorming ideas for your business, not your website. Instead of spending time brainstorming your website you can spend time planning your business and leave the hard work for the generator.
              </p>
            </div>
          </div>
        </div>
      </div>
      <!--END FEATURE-->
      <!--FEATURE-->
      <div class="slide-left feature" data-plugin-options='{"distance":300,"speed":1000}'>
        <div class="container">
          <div class="row">
            <div class="slide-left col-md-4 image" data-plugin-options='{"distance":700,speed":3000}'>
              <img class="img-responsive" src="../../common/images/content-05-3.png" alt="nevermore">
            </div>
            <div class="col-md-8">
              <h2>Documentation</h2>
              <h5><strong>We've payed a great deal of attention creating an understandable documentation which  makes it clear even if you are not  an experienced developer.</strong></h5>
              <p>We did our best describing all the components, guiding you from step A to Z in an comprehensive manner.
              We love what we did and we want this to be used by as many people as possible. Therefore, we offer you our help solving whatever problem you might encounter.
              </p>
            </div>
          </div>
        </div>
      </div>
      <!--END FEATURE-->
    </section>
    <!-- END CONTENT-05 -->
    <!-- PROJECT 03 -->
    <section class="projects-03 spacing" data-scroll-index="2">
      
      <div class="container">
        <div class="row text-center">
          
          <!-- FILTERS -->
          <nav class="filter-options text-center">
            <a href="#" data-group="webdesign" >Web Design</a>
            <a href="#" data-group="graphics" >Graphics</a>
            <a href="#" data-group="photography" >Photography</a>
            
          </nav>
          <!-- END FILTERS -->
        </div>
      </div>
      <div class="container">
        
        <div  class="grid row">
          
          <!-- PROJECT -->
          <div class="col-md-6 picture-item " data-groups='["webdesign"]'>
            
            <figure class="effect-sadie">
              <img class="img-responsive" src="../../common/images/projects-03-1.jpg" alt="img08"/>
              
              <!-- CAPTION-->
              
              <figcaption>
              <h2>Book's <span>Digital</span></h2>
              <p>These illustrations have been designed for book covers on the digital platform by Wall Street English</p>
              <a href="#">View more</a>
              </figcaption>
              
              <!-- END CAPTION -->
              
            </figure>
          </div>
          <!-- END PROJECT -->
          
          <!-- PROJECT -->
          
          <div class="col-md-6 picture-item">
            
            <figure class="effect-sadie">
              <img class="img-responsive" src="../../common/images/projects-03-2.jpg" alt="img08"/>
              
              <!-- CAPTION -->
              <figcaption>
              
              <h2>Fagiolari <span>relationship</span></h2>
              <p>We want to build a privileged relationship with our readers.</p>
              <a href="#">View more</a>
              
              </figcaption>
              <!-- END CAPTION -->
              
              
            </figure>
          </div>
          <!-- END PROJECT -->
          <!-- PROJECT -->
          <div class="col-md-6 picture-item">
            
            <figure class="effect-sadie">
              <img class="img-responsive" src="../../common/images/projects-03-3.jpg" alt="img08"/>
              
              <!-- CAPTION -->
              <figcaption>
              <h2>Gardenia <span>plant</span></h2>
              <p>Gardenia is a plant nursery based in Belluno (Italy).</p>
              <a href="#">View more</a>
              </figcaption>
              <!--END CAPTION-->
            </figure>
          </div>
          <!-- END PROJECT -->
          <!-- PROJECT -->
          <div class="col-md-6 picture-item">
            
            <figure class="effect-sadie">
              
              <img class="img-responsive" src="../../common/images/projects-03-4.jpg" alt="img08"/>
              
              <!-- CAPTION -->
              <figcaption>
              <h2>Lonely  <span>Superheroes</span></h2>
              <p>Oscar is a decent man. He used to clean porches with pleasure.</p>
              <a href="#">View more</a>
              </figcaption>
              <!-- END CAPTION -->
              
              
            </figure>
            
          </div>
          <!-- END PROJECT -->
          <!-- THIS IS FOR THE FITLERING! DO NOT REMOVE IT!-->
          <div class="col-md-6 shuffle__sizer"></div>
          
        </div>
      </div>
      
    </section>
    <!-- END PROJECT 03 -->
    <!-- TEAM 02 -->
    <section class="team-02 spacing" data-scroll-index="3">
      <div class="container">
        
        <!--TITLE-->
        <div class="slide-left title text-center" data-plugin-options='{"distance":300,"speed":1000}'>
          <h2>CLEAN & COMMENTED CODE</h2>
          <div class="border">
            <p>&nbsp;&nbsp;&nbsp;<i class="fa fa-heart-o"></i>&nbsp;&nbsp;&nbsp;</p>
          </div>
          <p class="lead">All the code is semantic which means it is straightforward to comprehend.
          <br/>Each code block is commented and it's W3C valid.</p>
        </div>
        <!-- END TITLE -->
        
        <div class="row">
          
          <!-- START CAROUSEL -->
          <div id="team-02" class="slide-left owl-carousel owl-theme" data-plugin-options='{"distance":300,"speed":1000}'>
            
            <!-- ITEM -->
            <div class="item">
              
              <div class="col-md-4">
                
                <!-- THUMBNAIL -->
                <div class="thumbnail">
                  <a href="#0" data-type="member-1">
                    <figure>
                      <img src="../../common/images/team-01-1.jpg" alt="nevemore">
                      <div class="overlay"><span><i class="fa fa-info-circle fa-2x"></i></span></div>
                    </figure>
                    <div class="member-info text-center">
                      <h4>John Smith</h4>
                      <span>CEO</span>
                      </div> <!-- cd-member-info -->
                    </a>
                  </div>
                  <!-- END THUMBNAIL -->
                </div>
                
                <div class="col-md-4">
                  
                  <!-- THUMBNAIL -->
                  <div class="thumbnail">
                    <a href="#0" data-type="member-1">
                      <figure>
                        <img src="../../common/images/team-01-2.jpg" alt="nevermore">
                        <div class="overlay"><span><i class="fa fa-info-circle fa-2x"></i></span></div>
                      </figure>
                      <div class="member-info text-center">
                        <h4>John Smith</h4>
                        <span>CEO</span>
                        </div> <!-- cd-member-info -->
                      </a>
                    </div>
                    <!-- END THUMBNAIL -->
                  </div>
                  
                  <div class="col-md-4">
                    
                    <!-- THUMBNAIL -->
                    
                    <div class="thumbnail">
                      <a href="#0" data-type="member-1">
                        <figure>
                          <img src="../../common/images/team-01-3.jpg" alt="nevermore">
                          <div class="overlay"><span><i class="fa fa-info-circle fa-2x"></i></span></div>
                        </figure>
                        <div class="member-info text-center">
                          <h4>John Smith</h4>
                          <span>CEO</span>
                          </div> <!-- cd-member-info -->
                        </a>
                      </div>
                      <!-- THUMBNAIL -->
                      
                    </div>
                    
                  </div>
                  <!-- END ITEM -->
                  
                  <!-- ITEM -->
                  <div class="item">
                    
                    <div class="col-md-4">
                      
                      <!-- THUMBNAIL -->
                      <div class="thumbnail">
                        <a href="#0" data-type="member-1">
                          <figure>
                            <img src="../../common/images/team-01-4.jpg" alt="nevermore">
                            <div class="overlay"><span><i class="fa fa-info-circle fa-2x"></i></span></div>
                          </figure>
                          <div class="member-info text-center">
                            <h4>John Smith</h4>
                            <span>CEO</span>
                          </div>
                        </a>
                      </div>
                      <!-- END THUMBNAIL -->
                    </div>
                    
                    <div class="col-md-4">
                      
                      <!-- THUMBNAIL -->
                      <div class="thumbnail">
                        <a href="#0" data-type="member-2">
                          <figure>
                            <img src="../../common/images/team-01-1.jpg" alt="nevermore">
                            <div class="overlay"><span><i class="fa fa-info-circle fa-2x"></i></span></div>
                          </figure>
                          <div class="member-info text-center">
                            <h4>John Smith</h4>
                            <span>CEO</span>
                          </div>
                        </a>
                      </div>
                      <!-- END THUMBNAIL -->
                      
                    </div>
                    
                    <div class="col-md-4">
                      
                      <!-- THUMBNAIL -->
                      <div class="thumbnail">
                        <a href="#0" data-type="member-3">
                          <figure>
                            <img src="../../common/images/team-01-2.jpg" alt="nevermore">
                            <div class="overlay"><span><i class="fa fa-info-circle fa-2x"></i></span></div>
                          </figure>
                          <div class="member-info text-center">
                            <h4>John Smith</h4>
                            <span>CEO</span>
                          </div>
                        </a>
                      </div>
                      <!--END THUMBNAIL -->
                    </div>
                    
                  </div>
                  
                </div>
              </div>
              
            </div>
            
          </section>
          <!-- END TEAM 02 -->
          
          <div class="cd-overlay"></div>
          </main>
          <!-- MEMBER CONTENT -->
          <div class="cd-member-bio member-1">
            
            <!-- TITLE -->
            <div class="member-title">
              <div class="info">
                
                <h2>John Doe</h2>
                <span class="border"></span>
                <h5>Managing Director</h5>
              </div>
              <div class="contact">
                <a href="#">johndoe@outboxvision.com</a>
                
              </div>
              
            </div>
            <!-- END TITLE -->
            <!-- DESCRIPTION -->
            <div class="cd-bio-content">
              <h1>Bio</h1>
              <span class="border"></span>
              <h4 class="text-center">108+ POSSIBLE WEBSITES</h4>
              <p>At this point you have 108 possible combinations to create a unique website, anyway, with each component we add every month your posibilities will increase.</p>
              <p>You will get an extensive description for understanding the component blocks in an comprehensive way makin it
              easier for you to connect them.
              All you have to do is connecting the dots.</p>
              
            </div>
            <!-- END DESCRIPTION -->
            
          </div>
          <!-- END MEMBER CONTENT -->
          <a href="#0" class="cd-member-bio-close">Close</a> <!-- close the author bio section -->
          <<!-- CONTENT-07 -->
          <section class="content-07 spacing" data-scroll-index="1">
            
            <div class="container">
              <div class="row">
                
                <!-- TITLE -->
                <div class="title text-center col-sm-12">
                  <h1>Components</h1>
                  <p>Using Nevermore Generator you get puzzle blocks like headers, contents, projects, teams, prices, footers
                  <br/>which you can easily combine to create unique websites.</p>
                </div>
                <div class="content text-center">
                  
                  <!-- ITEM CONTENT -->
                  
                  <div class="slide-left item col-md-4" data-plugin-options='{"distance":300,"speed":1000}'>
                    
                    <!-- SVG ICON -->
                    
                    <div class="icon">
                      <div class="iconmelon">
                        <svg viewBox="0 0 32 32">
                        <g filter="">
                        <use xlink:href="#design-pencil-rule"></use>
                        </g>
                        </svg>
                      </div>
                    </div>
                    <!-- SVG ICON -->
                    <h3 class="title">Multiple Designs</h3>
                    <span class="category">Design</span>
                  </div>
                  <!-- END ITEM CONTENT -->
                  
                  <!-- ITEM CONTENT -->
                  <div class="slide-right item col-md-4" data-plugin-options='{"distance":300,"speed":1000}'>
                    
                    <!-- SVG ICON -->
                    <div class="icon">
                      <div class="iconmelon">
                        <svg viewBox="0 0 32 32">
                        <g filter="">
                        <use xlink:href="#settings-gear"></use>
                        </g>
                        </svg>
                      </div>
                    </div>
                    <!-- END SVG ICON -->
                    
                    <h3 class="title">Future Updates</h3>
                    <span class="category">Updates</span>
                    
                  </div>
                  <!-- END ITEM CONTENT -->
                  
                  <!--  ITEM CONTENT -->
                  <div class="slide-left item col-md-4" data-plugin-options='{"distance":300,"speed":1000}'>
                    <!-- SVG ICON -->
                    <div class="icon">
                      <div class="iconmelon">
                        <svg viewBox="0 0 32 32">
                        <g filter="">
                        <use xlink:href="#happy-smiley"></use>
                        </g>
                        </svg>
                      </div>
                    </div>
                    <!-- END SVG ICON -->
                    
                    <h3 class="title">Save Money</h3>
                    <span class="category">Money</span>
                    
                  </div>
                  <!-- END ITEM CONTENT -->
                  <!--  ITEM CONTENT -->
                  <div class="slide-right item col-md-4" data-plugin-options='{"distance":300,"speed":1000}'>
                    
                    <!-- SVG ICON -->
                    <div class="icon">
                      <div class="iconmelon">
                        <svg viewBox="0 0 32 32">
                        <g filter="">
                        <use xlink:href="#clock-time"></use>
                        </g>
                        </svg>
                      </div>
                    </div>
                    <!-- END SVG ICON -->
                    <h3 class="title">Save Time</h3>
                    <span class="category">Time</span>
                    
                  </div>
                  <!-- END ITEM CONTENT -->
                  <!-- ITEM CONTENT -->
                  <div class="slide-left item col-md-4" data-plugin-options='{"distance":300,"speed":1000}'>
                    <!-- SVG ICON -->
                    <div class="icon">
                      <div class="iconmelon">
                        <svg viewBox="0 0 32 32">
                        <g filter="">
                        <use xlink:href="#settings-toolkit"></use>
                        </g>
                        </svg>
                      </div>
                    </div>
                    <!-- END SVG ICON -->
                    
                    <h3 class="title">Great Support</h3>
                    <span class="category">Support</span>
                    
                  </div>
                  <!-- END ITEM CONTENT -->
                  <!-- ITEM CONTENT -->
                  <div class="slide-right item col-md-4" data-plugin-options='{"distance":300,"speed":1000}'>
                    <!-- SVG ICON -->
                    <div class="icon">
                      <div class="iconmelon">
                        <svg viewBox="0 0 32 32">
                        <g filter="">
                        <use xlink:href="#armchair-chair"></use>
                        </g>
                        </svg>
                      </div>
                    </div>
                    <!-- END SVG ICON -->
                    
                    <h3 class="title">Interactive User guide</h3>
                    <span class="category">User Guide</span>
                    
                  </div>
                  <!-- END ITEM CONTENT -->
                </div>
              </div>
            </div>
            
            
            
          </section>
          <!-- END CONTENT-07 -->
          
          <!-- CONTACT-01 -->
          <footer class="contact-01 spacing" data-scroll-index="4">
            
            
            <div class="container">
              
              <div class="slide-left row" data-plugin-options='{"distance":300,"speed":1000}'>
                
                <div class="col-md-4">
                  
                  <!-- CONTACT INFO -->
                  <div class="contact-details">
                    
                    <div class="title">
                      <h2>Get in Touch</h2>
                      <div class="small-border"></div>
                      <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam totam laudantium consequatur dolor velit veritatis.</h5>
                      <ul class="info">
                        <li>2345 Setwant natrer, 1234,</li>
                        <li>Washington, United States.</li>
                        <li>(401) 1234 567</li>
                        <li>hello@mykingdom.com</li>
                      </ul>
                    </div>
                    
                  </div>
                  <!-- END CONTACT INFO -->
                  
                </div>
                <div class="col-md-7">
                  
                  <!-- CONTACT FORM  -->
                  <form name="sendMessage" id="contactForm" novalidate="" method="post">
                    <h3>Say Hello!</h3>
                    <div class="row">
                      
                      
                      <div class="col-md-6">
                        <div class="form-group">
                          <input type="text" class="form-control" placeholder="Your Name *" id="name" name="name"  data-validation-required-message="Please enter your name." aria-invalid="false" required>
                          <p class="help-block text-danger"></p>
                        </div>
                      </div>
                      
                      <div class="col-md-6">
                        <div class="form-group">
                          <input type="email" class="form-control" placeholder="Your Email *" id="email"  name="email" data-validation-required-message="Please enter your email address." aria-invalid="false" required>
                          <p class="help-block text-danger"></p>
                        </div>
                      </div>
                      <div class="clearfix"></div>
                      <div class="col-md-12">
                        <div class="form-group">
                          <textarea class="form-control" placeholder="Your Message *" id="message"  data-validation-required-message="Please enter a message." required></textarea>
                          <p class="help-block text-danger"></p>
                        </div>
                      </div>
                      
                      <div class="clearfix"></div>
                      <div class="col-lg-12 text-right">
                        <i class="fa fa-envelope"></i><input type="submit" id="submit" name="submit" value="Send Message" class="btn btn-simple btn-xl">
                      </div>
                    </div>
                    
                  </form>
                  <!-- END CONTACT FORM -->
                  
                  <!-- SUCCESS AND ERROR MESSAGES -->
                  
                  <div id="success">
                    <p>Your message was sent succssfully! I will be in touch as soon as I can.</p>
                  </div>
                  
                  <div id="error">
                    <p>Something went wrong, try refreshing and submitting the form again.</p>
                  </div>
                  <!-- END SUCCESS AND ERROR MESSAGES -->
                </div>
                <div class="col-md-1">
                  <!-- SOCIAL ICONS-->
                  <ul class="social-icons text-center">
                    <li><a href="#"><i class="fa fa-behance fa-lg"></i></a></li>
                    <li><a href="#"><i class="fa fa-facebook fa-lg"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter fa-lg"></i></a></li>
                    <li><a href="#"><i class="fa fa-dribbble fa-lg"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus fa-lg"></i></a></li>
                  </ul>
                  <!-- END SOCIAL ICONS -->
                  
                </div>
              </div>
            </div>
            <!-- GOOGLE MAP -->
            <div class="map">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1446725.9866515996!2d-94.26387473638893!3d44.910386247917145!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x877d432d85e938a5%3A0x7f0d6293186a4b7!2sSouth+Dakota!5e0!3m2!1sen!2s!4v1406461999449"  height="200"  style="border:0"></iframe>
            </div>
            
          </footer>
          <!-- END CONTACT-01 -->
          </main>
    <script src="../../common/js/vendor/jquery-1.11.0.min.js"></script>
   <script>window.jQuery || document.write('<script src="../../common/js/vendor/jquery-1.11.0.min.js"><\/script>')</script>
   <script src="../../common/js/vendor/bootstrap.min.js"></script>
   <script src="../../common/js/plugins.js"></script>                      
   <script src="../../common/js/main.js"></script> 
   <script>$(window).fadeThis({reverse:false});</script>
    
  </body>
</html>