/**
 * Header 01 stylesheet  
 * */
.header-01 {
  position: relative;
  width: 100%;
  z-index: 222222;
}
.header-01 .navbar-simple {
  background: black;
}
.header-01 .navbar {
  margin: 0;
}
.header-01 .navbar .navbar-brand {
  padding-top: 10px;
}
.header-01 .nav > li > a {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  color: #ffffff;
  text-transform: normal;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.header-01 .nav > li > a:hover,
.header-01 .nav > li > a:focus {
  background-color: #282828;
}
.header-01-sub .jumbotron {
  margin: 0;
  padding-top: 98px;
  padding-bottom: 98px;
  background: #ffffff;
}
@media only screen and (max-width: 480px) {
  .header-01-sub .jumbotron {
    padding-top: 50px;
    padding-bottom: 70px;
  }
}
.header-01-sub .jumbotron h1 {
  margin-top: 120px;
  margin-bottom: 30px;
  font-size: 72px;
  color: black;
}
@media (min-width: 768px) and (max-width: 991px) {
  .header-01-sub .jumbotron h1 {
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 38px;
  }
  .header-01-sub .jumbotron h1 .fa-2x {
    font-size: 1.5em;
  }
}
@media (max-width: 1200px) {
  .header-01-sub .jumbotron h1 {
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 62px;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .header-01-sub .jumbotron h1 {
    margin-top: 100px;
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 480px) {
  .header-01-sub .jumbotron h1 {
    font-size: 36px;
    margin-top: 0px;
    margin-bottom: 20px;
    text-align: center;
  }
  .header-01-sub .jumbotron h1 .fa-2x {
    font-size: 1em;
  }
}
.header-01-sub .jumbotron .small-border {
  width: 10%;
  border: 3px solid black;
}
@media only screen and (max-width: 480px) {
  .header-01-sub .jumbotron .small-border {
    margin: 0 auto;
  }
}
.header-01-sub .jumbotron p.lead {
  font-family: 'Raleway', sans-serif;
  color: black;
  margin-top: 30px;
}
@media only screen and (max-width: 480px) {
  .header-01-sub .jumbotron p.lead {
    text-align: center;
  }
}
@media only screen and (max-width: 480px) {
  .header-01-sub .jumbotron p {
    text-align: center;
  }
}
.header-01-sub .jumbotron .owl-dots .owl-dot span {
  background: black;
}
.header-01-sub .jumbotron .owl-dot.active span,
.header-01-sub .jumbotron .owl-dot:hover span {
  background: black;
}
.header-01-sub .btn-simple {
  font-family: 'Raleway', sans-serif;
  padding-left: 0;
  color: black;
  box-shadow: none;
  font-size: 18px;
  font-weight: bold;
}
.header-01-sub .btn-simple:hover {
  color: #4b113a;
}
@media only screen and (max-width: 480px) {
  .header-01-sub .btn-simple {
    font-size: 18px;
    margin-bottom: 10px;
    padding-right: 0;
  }
}
.header-01-sub .btn-simple i {
  padding-right: 20px;
  vertical-align: middle;
}
@media only screen and (max-width: 480px) {
  .header-01-sub .btn-simple i {
    display: block;
    margin-bottom: 10px;
    padding-right: 0;
  }
}
.header-01-sub .item-video {
  height: 600px;
}
@media only screen and (max-width: 480px) {
  .header-01-sub .item-video {
    height: 300px;
    padding-bottom: 20px;
  }
}
.header-01-sub .owl-video-tn {
  -webkit-background-size: cover!important;
  -moz-background-size: cover!important;
  -o-background-size: cover!important;
  background-size: cover!important;
}