<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
  <title>Layout-02</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="../../common/css/animations.css">
  <link rel="stylesheet" href="../../common/css/owl-carousel/owl.carousel.css">
  <link rel="stylesheet" href="../../common/css/owl-carousel/owl.theme.default.css">
  <link rel="stylesheet" href="../../common/css/owl-carousel/owl.video.css">
  <script src="../../common/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
</head>
<body>
  <!--[if lt IE 7]>
  <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
  
  
  <main>
  <!-- HEADER-03 NAVIGATION BAR -->
  
  <div class="header-03">
    <div class="navbar navbar-03 navbar-fixed-top">
      <div class="container">
        <div class="navbar-side">
          
          <a class="navbar-brand" href="#"><img src="../../common/images/logo.png" alt="nevermore"></a>
          
          <!-- TOGGLE MENU -->
          <a href="#menu" class="menu-link" id="nav-icon3">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </a>
        </div>
      </div>
    </div>
    
    <nav id="menu" class="panel-side" role="navigation">
      
      <ul>
        <li><a class="side-menu" href="#" data-scroll-nav="0">Home</a></li>
        <li><a class="side-menu" href="#" data-scroll-nav="1">Features</a></li>
        <li><a class="side-menu" href="#" data-scroll-nav="2">Works</a></li>
        <li><a class="side-menu" href="#" data-scroll-nav="3">Contact</a></li>
      </ul>
      <ul class="address">
        <li> 2217 14th St NW, Washington,</li>
        <li>+1 202-905-2729</li>
        <li>+4 202-138-9326</li>
        <li>hello@outboxvision.co</li>
      </ul>
      
      <ul class="social">
        <li><a href="#"><i class="fa fa-facebook fa-2x"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter fa-2x"></i></a></li>
        <li><a href="#"><i class="fa fa-google-plus fa-2x"></i></a></li>
        
      </ul>
      
    </nav>
  </div>
  
  
  <!-- END HEADER-03 NAVIGATION BAR -->
  <!-- HEADER-03 CONTENT -->
  <div class="header-03-sub  v-center">
    <div>
      
      <div class="slide-left container" data-plugin-options='{"speed":1000}'>
        
        <!-- SLOGAN CONTENT -->
        <div class="slogan text-center">
          
          <h1>DRAG & DROP GENERATOR</h1>
          <p class="lead">We've made it straightforward for you.
          All you have to do is drag and drop the components as you like.
          </p>
        </div>
        <!-- END SLOGAN CONTENT -->
        <!-- SCROLL DOWN BUTTON -->
        <a class="scrollDown" href="#">
          <img alt="nevermore" src="../../common/images/scrollDown-02.png">
        </a>
      </div>
    </div>
    
  </div>
  
  <!-- END HEADER-03 CONTENT -->
  
  <!-- CONTENT-07 -->
  <section class="content-07 spacing" data-scroll-index="1">
    
    <div class="container">
      <div class="row">
        
        <!-- TITLE -->
        <div class="title text-center col-sm-12">
          <h1>Components</h1>
          <p>Using Nevermore Generator you get puzzle blocks like headers, contents, projects, teams, prices, footers
          <br/>which you can easily combine to create unique websites.</p>
        </div>
        <div class="content text-center">
          
          <!-- ITEM CONTENT -->
          
          <div class="slide-left item col-md-4" data-plugin-options='{"distance":300,"speed":1000}'>
            
            <!-- SVG ICON -->
            
            <div class="icon">
              <div class="iconmelon">
                <svg viewBox="0 0 32 32">
                <g filter="">
                <use xlink:href="#design-pencil-rule"></use>
                </g>
                </svg>
              </div>
            </div>
            <!-- END SVG ICON -->
            <h3 class="title">Multiple Designs</h3>
            <span class="category">Design</span>
          </div>
          <!-- END ITEM CONTENT -->
          
          <!-- ITEM CONTENT -->
          <div class="slide-right item col-md-4" data-plugin-options='{"distance":300,"speed":1000}'>
            
            <!-- SVG ICON -->
            <div class="icon">
              <div class="iconmelon">
                <svg viewBox="0 0 32 32">
                <g filter="">
                <use xlink:href="#settings-gear"></use>
                </g>
                </svg>
              </div>
            </div>
            <!-- END SVG ICON -->
            
            <h3 class="title">Future Updates</h3>
            <span class="category">Updates</span>
            
          </div>
          <!-- END ITEM CONTENT -->
          
          <!--  ITEM CONTENT -->
          <div class="slide-left item col-md-4" data-plugin-options='{"distance":300,"speed":1000}'>
            <!-- SVG ICON -->
            <div class="icon">
              <div class="iconmelon">
                <svg viewBox="0 0 32 32">
                <g filter="">
                <use xlink:href="#happy-smiley"></use>
                </g>
                </svg>
              </div>
            </div>
            <!-- END SVG ICON -->
            
            <h3 class="title">Save Money</h3>
            <span class="category">Money</span>
            
          </div>
          <!-- END ITEM CONTENT -->
          <!--  ITEM CONTENT -->
          <div class="slide-right item col-md-4" data-plugin-options='{"distance":300,"speed":1000}'>
            
            <!-- SVG ICON -->
            <div class="icon">
              <div class="iconmelon">
                <svg viewBox="0 0 32 32">
                <g filter="">
                <use xlink:href="#clock-time"></use>
                </g>
                </svg>
              </div>
            </div>
            <!-- END SVG ICON -->
            <h3 class="title">Save Time</h3>
            <span class="category">Time</span>
            
          </div>
          <!-- END ITEM CONTENT -->
          <!-- ITEM CONTENT -->
          <div class="slide-left item col-md-4" data-plugin-options='{"distance":300,"speed":1000}'>
            <!-- SVG ICON -->
            <div class="icon">
              <div class="iconmelon">
                <svg viewBox="0 0 32 32">
                <g filter="">
                <use xlink:href="#settings-toolkit"></use>
                </g>
                </svg>
              </div>
            </div>
            <!-- END SVG ICON -->
            
            <h3 class="title">Great Support</h3>
            <span class="category">Support</span>
            
          </div>
          <!-- END ITEM CONTENT -->
          <!-- ITEM CONTENT -->
          <div class="slide-right item col-md-4" data-plugin-options='{"distance":300,"speed":1000}'>
            <!-- SVG ICON -->
            <div class="icon">
              <div class="iconmelon">
                <svg viewBox="0 0 32 32">
                <g filter="">
                <use xlink:href="#armchair-chair"></use>
                </g>
                </svg>
              </div>
            </div>
            <!-- END SVG ICON -->
            
            <h3 class="title">Interactive User guide</h3>
            <span class="category">User Guide</span>
            
          </div>
          <!-- END ITEM CONTENT -->
        </div>
      </div>
    </div>
    
    
    
  </section>
  <!-- END CONTENT-07 -->
  
  <!-- PROJECT 02 -->
  <section class="projects-02 spacing" data-scroll-index="2">
    
    <div class="container-fluid">
      <div class="row">
        <!-- PROJECT -->
        <div class="slide-left project no-padding col-xs-12" data-plugin-options='{speed":1000}'>
          
          
          <figure class="project-ratio">
            <img src="../../common/images/projects-02-1.jpg" alt="nevermore">
            
            <!-- PROJECT OVERLAY -->
            <div class="overlay text-center">
              
              <div class="center">
                <a href="#">
                  <h1>Project Name </h1><i class="fa fa-plus-circle fa-2x"></i>
                  
                </a>
              </div>
            </div>
            <!-- END PROJET OVERLAY -->
          </figure>
          
        </div>
        <!-- END PROJECT -->
      </div>
      <div class="row">
        
        <!-- PROJECT -->
        <div class="slide-left project no-padding col-xs-12" data-plugin-options='{"speed":1000}'>
          
          
          <figure class="project-ratio">
            <img src="../../common/images/projects-02-2.jpg" alt="nevermore">
            
            <!-- PROJECT OVERLAY -->
            <div class="overlay text-center">
              
              <div class="center">
                <a href="#">
                  <h1>Project Name </h1><i class="fa fa-plus-circle fa-2x"></i>
                  
                </a>
              </div>
            </div>
            <!-- END PROJECT OVERLAY -->
          </figure>
          
        </div>
        <!-- END PROJECT -->
      </div>
      <div class="row">
        
        <!-- PROJECT -->
        <div class="slide-left project no-padding col-xs-12" data-plugin-options='{speed":1000}'>
          
          
          <figure class="project-ratio">
            <img src="../../common/images/projects-02-3.jpg" alt="nevermore">
            
            <!-- PROJECT OVERLAY -->
            
            <div class="overlay text-center">
              
              <div class="center">
                <a href="#">
                  <h1>Project Name </h1><i class="fa fa-plus-circle fa-2x"></i>
                  
                </a>
              </div>
            </div>
            <!-- END PROJECT OVERLAY -->
          </figure>
          
        </div>
        <!-- END PROJECT -->
      </div>
      <div class="row">
        
        <!-- PROJECT -->
        <div class="slide-left project no-padding col-xs-12 hide-project" data-plugin-options='{"speed":1000}'>
          
          <figure class="project-ratio">
            <img src="../../common/images/projects-02-4.jpg" alt="nevermore">
            
            <!-- PROJECT OVERLAY -->
            <div class="overlay text-center">
              
              <div class="center">
                <a href="#">
                  <h1>Project Name </h1><i class="fa fa-plus-circle fa-2x"></i>
                  
                </a>
              </div>
            </div>
            <!-- END PROJECT OVERLAY -->
          </figure>
          
        </div>
        <!-- END PROJECT -->
        
      </div>
      <div class="row">
        
        <!-- LOAD MORE BUTTON -->
        <div class="load-more text-center">
          <span class="icon"><img src="../../common/images/load-more.png" alt="nevermore"></span>
          <button type="button" data-loading-text="Loading..." class="btn btn-simple btn-load">
          LOAD MORE PROJECTS
          </button>
        </div>
        <!-- END LOAD MORE BUTTON -->
      </div>
      
    </div>
    
  </section>
  <!-- END PROJECT 02-->
  <!-- TEAM 01 -->
  <section class="slide-left team-01 spacing" data-plugin-options='{"distance":300,"speed":1000}'>
    <div class="container">
      
      <div class="row">
        
        <div class="col-md-4">
          
          <div class="slide-left side" data-plugin-options='{"distance":300,"speed":1000}'>
            
            <!-- TITLE -->
            <div class="title col-xs-12">
              <h2>DESIGN PHILOSOPHY</h2>
              <div class="small-border"></div>
              <h5>Design is how it works!<br/>
              This is what they say, but we
              believe is more than that, is also how it <strong>looks and feels</strong>. </h5>
              <p>This is the balance we we're looking forwhen we created Nevermore.</p>
            </div>
            <!-- END TITLE -->
            
            <!-- DOTS CONTAINER -->
            
            <div class="dots">
            </div>
            <!-- END DOTS CONTAINER  -->
            
          </div>
        </div>
        
        
        <div class="col-md-8">
          
          <div class="content">
            
            <!-- START SLIDER -->
            <div id="team-01" class="owl-carousel owl-theme">
              
              <!-- ITEM -->
              <div class="item">
                
                <div class="col-md-6">
                  
                  <img class="img-responsive" src="../../common/images/team-01-1.jpg" alt="nevermore">
                  
                  <!-- DESCRIPTION -->
                  <div class="description">
                    <h3>John Smith</h3>
                    <h5>Google</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, saepe est aliquid delectus possimus voluptatibus laboriosam.</p>
                    <p><a class="btn btn-simple btn-lg" role="button"><i class="fa fa-long-arrow-right"></i>See Details</a></p>
                  </div>
                  <!-- END DESCRIPTION -->
                  
                </div>
                <div class="col-md-6">
                  
                  <img class="img-responsive"  src="../../common/images/team-01-2.jpg" alt="nevermore">
                  
                  <!-- DESCRIPTION -->
                  <div class="description">
                    <h3>John Smith</h3>
                    <h5>Google</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, saepe est aliquid delectus possimus voluptatibus laboriosam.</p>
                    <p><a class="btn btn-simple btn-lg" role="button"><i class="fa fa-long-arrow-right"></i>See Details</a></p>
                  </div>
                  <!-- END DESCRIPTION -->
                </div>
                
              </div>
              <!-- END ITEM -->
              <!-- ITEM -->
              <div class="item">
                
                <div class="col-md-6">
                  
                  <img class="img-responsive" src="../../common/images/team-01-3.jpg" alt="nevermore">
                  
                  <!-- DESCRIPTION -->
                  <div class="description">
                    <h3>John Smith</h3>
                    <h5>Google</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, saepe est aliquid delectus possimus voluptatibus laboriosam.</p>
                    <p><a class="btn btn-simple btn-lg" role="button"><i class="fa fa-long-arrow-right"></i>See Details</a></p>
                  </div>
                  <!-- END DESCRIPTION -->
                </div>
                <div class="col-md-6">
                  
                  <img class="img-responsive" src="../../common/images/team-01-2.jpg" alt="nevermore">
                  
                  <!-- DESCRIPTION -->
                  <div class="description">
                    <h3>John Smith</h3>
                    <h5>Google</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, saepe est aliquid delectus possimus voluptatibus laboriosam.</p>
                    <p><a class="btn btn-simple btn-lg" role="button"><i class="fa fa-long-arrow-right"></i>See Details</a></p>
                  </div>
                  <!-- END DESCRIPTION -->
                  
                </div>
                
              </div>
              <!-- END ITEM -->
            </div>
          </div>
        </div>
      </div>
      
    </div>
    
  </section>
  <!-- END TEAM 01-->
  <!-- FOOTER-01 -->
  <footer class="footer-01" data-scroll-index="3">
    
    
    <div class="container-fluid">
      
      <div class="row">
        
        <!-- CONTACT DETAILS -->
        <div class="slide-left contact-details col-md-6" data-plugin-options='{"distance":300,"speed":1000}'>
          <div class="content">
            <h1>GREAT SUPPORT</h1>
            <p>We love what we did and we want this to be used by as many people as possible.<br> 
               Therefore, we offer you our help solving whatever problem you might encounter.
            </p>
            <a class="btn btn-hallow btn-lg" href="#">Contact Me</a>
          </div>
        </div>
        <!-- END CONTACT DETAILS -->
        
        <!-- SOCIAL ICONS -->
        <div class="contact-social col-md-6">
          
          <div class="row text-center">
            <div class="slide-left social-icon col-md-6" data-plugin-options='{"distance":300,"speed":1000}'>
              
              <a href="#"><i class="fa fa-facebook fa-4x"></i></a>
              
            </div>
            <div class="slide-right social-icon col-md-6" data-plugin-options='{"distance":300,"speed":1000}'>
              <a href="#"><i class="fa fa-google-plus fa-4x"></i></a>
            </div>
            <div class="slide-left social-icon col-md-6" data-plugin-options='{"distance":300,"speed":1000}'>
              <a href="#"><i class="fa fa-twitter fa-4x"></i></a>
            </div>
            <div class="slide-right social-icon col-md-6" data-plugin-options='{"distance":300,"speed":1000}'>
              <a href="#"><i class="fa fa-behance fa-4x"></i></a>
            </div>
          </div>
        </div>
        <!-- END SOCIAL ICONS -->
        
      </div>
      
      
    </div>
    
  </footer>
  <!-- END FOOTER 01 -->
  </main>
  <script src="../../common/js/vendor/jquery-1.11.0.min.js"></script>
  <script>window.jQuery || document.write('<script src="../../common/js/vendor/jquery-1.11.0.min.js"><\/script>')</script>
  <script src="../../common/js/vendor/bootstrap.min.js"></script>
  <script src="../../common/js/plugins.js"></script>                     
  <script src="../../common/js/main.js"></script> 
  <script>$(window).fadeThis({reverse:false});</script>
                            
  
</body>
</html>